@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-btn {
  @apply block w-full text-left px-3 py-2 rounded hover:bg-gray-700 transition;
}

body {
  font-family: ui-sans-serif, system-ui;
}
