@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-btn {
  @apply w-full text-left px-3 py-2 rounded bg-gray-700/30 hover:bg-gray-700 transition;
}
.nav-btn.active {
  @apply bg-gray-600 font-semibold;
}
